<div *ngIf="adminList" class="container">
    <div class="ng-bootstrap-accordion">
        <h3>Ng Bootstrap Accordion</h3>
        <accordion [closeOthers]="true" [isAnimated]="true">
            <accordion-group *ngFor="let admin of adminList" [heading]="admin.name">
                <div class="pb-2">
                    <span>Age: </span> {{admin.age}}
                </div>
                <accordion [closeOthers]="true" [isAnimated]="true">
                    <accordion-group heading="Description">
                        {{admin.description}}
                        <accordion [closeOthers]="true" [isAnimated]="true">
                            <accordion-group heading="Occupation">
                                {{admin.occupation}}
                                <accordion [closeOthers]="true" [isAnimated]="true">
                                    <accordion-group heading="Location">
                                        {{admin.location}}
                                    </accordion-group>
                                </accordion>
                            </accordion-group>
                        </accordion>
                    </accordion-group>
                </accordion>
            </accordion-group>
        </accordion>
    </div>

</div>